
/* custom properties */

:root {

    /* colours */

    /* Primary */

    --primary-dark-blue: 233 26% 24%;
    --primary-lime-green: 136 65% 51%;
    --primary-bright-cyan: 192 70% 51%;
    

    /* Neutral */

    --neutral-grayish-blue: 233 8% 62%;
    --neutral-light-grayish-blue: 220 16% 96%;
    --neutral-very-light-gray: 0 0% 98%;
    --neutral-white: 0 0% 100%;

    /* ------- */

    /* fonts */

    --ff-public-sans: 'Public Sans', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    /* ------ */

    /* font sizes */

    --fs-100: 1rem;
    --fs-200: 1.125rem;
    --fs-300: 1.25rem;
    --fs-400: 1.5rem;

    /* ------- */

}

/* resets */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
figure,
picture {
    margin: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

input,
select,
button,
textarea {
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* --------- */

body {

    font-size: var(--fs-100);
    font-family: var(--ff-public-sans);
    min-height: 100%;
    line-height: 1.5;
    overflow: scroll;
}

/* Utility classes */

.container {
    padding: 0 2em;
    max-width: 1120px;
    margin: 0 auto;
}

.flex {
    display: flex;
    gap: var(--gap,1rem);
}

.grid {
    display: grid;
    gap: var(--gap,1rem);
}

.bg-white {
    background-color: hsl(var(--neutral-white));
}

.bg-dark-blue {
    background-color: hsl(var(--primary-dark-blue))
}

.bg-bright-cyan {
    background-color: hsl(var(--primary-bright-cyan));
}

.bg-lime-green {
    background-color: hsl(var(--primary-lime-green));
}

.text-white {
    color: hsl(var(--neutral-white));
}

.text-blue {
    color: hsl(var(--primary-dark-blue));
}

.ff-sans {
    font-family: var(--ff-public-sans);
}

.fs-100 {
    font-size: var(--fs-100);
}

.fs-200 {
    font-size: var(--fs-200);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.uppercase {
    text-transform: uppercase;
}

.letterspacing-1 {
    letter-spacing: 4.75px; 
}

.letterspacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

/* buttons */

.btn {
    background-color: hsl(var(--primary-lime-green));
    border-radius: 30px;
    color: hsl(var(--neutral-white));
    padding: .8em 2em;
}

.nav-list {
    display: none;
}