
/* custom properties */

:root {

    /* colours */

    /* Primary */

    --primary-dark-blue: 233 26% 24%;
    --primary-lime-green: 136 65% 51%;
    --primary-bright-cyan: 192 70% 51%;
    

    /* Neutral */

    --neutral-grayish-blue: 233 8% 62%;
    --neutral-light-grayish-blue: 220 16% 96%;
    --neutral-very-light-gray: 0 0% 98%;
    --neutral-white: 0 0% 100%;

    /* ------- */

    /* fonts */

    --ff-public-sans: 'Public Sans', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    /* ------ */

    /* font sizes */
    --fs-90: .8rem;
    --fs-100: 1rem;
    --fs-200: 1.2rem;
    --fs-300: 1.7rem;
    --fs-400: 2.5rem;
    --fs-500: 3rem;
    --fs-600: 4rem;

    /* ------- */

}

/* resets */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3
 {
    padding: 0 0 .5em;
}

p {
    padding: 0 0 2em;
}



ul,
li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

input,
select,
button,
textarea {
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* --------- */

body {

    font-size: var(--fs-100);
    font-family: var(--ff-public-sans);
    min-height: 100%;
    line-height: 1.5;
    overflow: scroll;
}

/* Utility classes */

.container {
    padding: 0 2em;
    max-width: 1120px;
    margin: 0 auto;
}

.flex {
    display: flex;
    gap: var(--gap,1rem);
}

.grid {
    display: grid;
    gap: var(--gap,1rem);
}

.bg-white {
    background-color: hsl(var(--neutral-white));
}

.bg-dark-blue {
    background-color: hsl(var(--primary-dark-blue))
}

.bg-bright-cyan {
    background-color: hsl(var(--primary-bright-cyan));
}

.bg-lime-green {
    background-color: hsl(var(--primary-lime-green));
}

.text-white {
    color: hsl(var(--neutral-white));
}

.text-blue {
    color: hsl(var(--primary-dark-blue));
}

.text-grey {
    color: hsl(var(--neutral-grayish-blue));
}

.ff-sans {
    font-family: var(--ff-public-sans);
}

.fs-90 {
    font-size: var(--fs-90);
}

.fs-100 {
    font-size: var(--fs-100);
}

.fs-200 {
    font-size: var(--fs-200);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.letterspacing-1 {
    letter-spacing: 4.75px; 
}

.letterspacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

.center {
    text-align: center;
}

/* buttons */

.top-btn {
    display: none;
    
}

.btn {
    background: linear-gradient(to right, green ,#33ccff) ;
    border-radius: 30px;
    color: hsl(var(--neutral-white));
    padding: .8em 2em;
}

/* active states */

.underline-indicators > * {
    padding: var(--underline-gap, 1rem) 0;
    position: relative;

    border: 0;

    border-bottom: solid hsl(var(--neutral-white) / 0);   
    cursor: pointer;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl(var(--primary-lime-green) /.5);
}

.underline-indicators > .active {
    border-color: hsl(var(--primary-lime-green));
}

.top-btn:hover,
.btn:hover {
  background: linear-gradient(to right, rgb(11, 235, 11) ,#00b8f0);
}

p.accent:hover,
.footer-links:hover {
    color: hsl(var(--primary-lime-green));
    cursor: pointer;
}

/* navigation */

.nav-list {
    display: none;
}

.nav {
    display: flex;
    padding: 1.6em;
}

.hamburger-icon {
    position: absolute;
    top: 2.1em;
    right: 1.5em;
}

/* hero section */

.bg-intro-mobile {
    width: 100%;
}

.bg-intro-desktop {
    display: none;
}

.hero-text {
    text-align: center;
    height: 40vh;
}

/* main area */

.main-text {
    text-align: center;
}

.narrow-width {
    width: 50%;
    margin: 0 auto;
}

.main-section {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.main-img {
    text-align: center;
    margin: 0 auto;
    padding: 0 0 1em;
}

/* Section */

.section {
    flex-direction: column;
}

.section-card {
    background-color: hsl(var(--neutral-very-light-gray));
}

.img-card {
    border-radius: 10px 10px 0 0;
    margin: 0 0 2em;
    width: 100%;
}

p.accent {
    color: hsl(var(--primary-dark-blue));
    padding:  0 0 1em;
    
}

.text-card-container {
   padding: 2em; 
}

/* footer  */

.footer {
    flex-direction: column;
    text-align: center;
}

.footer-logo {
    padding: 2em 0 1em;
}

.social-container {
    margin: 0 auto;
    padding: 1em 0 1em;
}

.social-box {
    margin: 0 auto;
}

.footer-links {
    color: hsl(var(--neutral-white));
    padding: 0 0 1em ;
}

.copyright {
    padding: 3em 0 3em ;
}


@media(min-width:1000px){

    /* navigation */

    
    .nav {
        justify-content: space-between;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .hamburger-icon {
        display: none;
    }

    .nav-list {
        display: inline-flex;
        align-items: center;
        margin: 0 auto;
    }

    .nav__links {
        padding: 0 1em 0;
    }

    .top-btn {
        display: block;
        background: linear-gradient(to right, green ,#33ccff) ;
        border-radius: 30px;
        color: hsl(var(--neutral-white));
        padding: .8em 2em;
    }

    /* hero */

    .bg-intro-mobile {
        display: none;
    }

    .bg-intro-desktop {
        margin: 3em 0 0 ;
        display: block;
    }

    .hero {
        display: flex;
    }

    .hero-text {
        padding: 7em 0 0 ;
        text-align: left;
        width: 80%;
    }

    /* main area */
    /* .main {
        background-color: hsl(var(--neutral-light-grayish-blue));
        width: 100%;
    } */

    .main-text {
        text-align: left;
        margin: 0 0 2em;
        width: 55%;
    }

    #main-heading {
        width: 100%;
        margin-right: 16em;
    }

    .main-section {
        text-align: left;
        flex-direction: row;
        
    }

    .main-img {
        padding-right: 11em;
    }
    
    /* section */

    .section {
        flex-direction: row;
    }

    #section-heading {
        text-align: left;
        padding: 1.5em 0;
    }

    .img-card {
        height: 30%;
    }

    /* footer */
    
    .footer {
        
        padding: 0 13em;
        flex-direction: row;
        justify-content: space-between;
    }

    .social-box {
        margin: unset;
    }

    .footer-links-container {
        display: inline-flex;
        align-items: center;
    }

    .invite {
        margin-top: 2em;
    }
    
}